---
import { cn } from "@/lib/cn";
import type { HTMLAttributes } from "astro/types";
import { Badge } from "@/components/ui/badge";
import type { SidebarBadge } from "nimbus-docs/types";

interface Props extends HTMLAttributes<"a"> {
  label: string;
  href: string;
  isCurrent?: boolean;
  badge?: SidebarBadge;
}

const { label, href, isCurrent, badge, class: className, ...attrs } = Astro.props;
---

<a
  href={href}
  aria-current={isCurrent ? "page" : undefined}
  data-nb-sidebar-link
  class={className ? cn(className) : undefined}
  {...attrs}
>
  <span class="break-words">{label}</span>
  {badge &&
    (typeof badge === "string" ? (
      <Badge text={badge} />
    ) : (
      <Badge text={badge.text} variant={badge.variant} />
    ))}
</a>
